include ./../mixin/skills

section.section.about
    .about__left
        svg.triangal.triangal_fill_white
        h1.title.about__title_pos Обо мне
        .about__content
            img.about__pic
            h2.about__title.subtitle Кто я
            .about__desc
                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .about__right
        svg.triangal.triangal_fill_beige
        .skills
            .skills__desc
                h2.skills__title.subtitle Чем я могу быть вам полезен
                .skills__text
                    p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.

            +skills([{
                'name': 'Frontend',
                'skills': ['HTML5', 'CSS3', 'JavaScript $ JQuery']
            },
            {
                'name': 'Backend',
                'skills': ['HTML5', 'CSS3', 'JavaScript $ JQuery']
            },
            {
                'name': 'Workflow',
                'skills': ['HTML5', 'CSS3', 'JavaScript $ JQuery']
            }])

