section.section.map
    .map
    .float-square
        .contacts
            h2.contacts__title
            ul.contacts__items
                li.contacts__item
                    a.contacts__link(href="skype:tehiko43?call") tehiko43
                        i.fa.fa-skype.fa-fw(aria-hidden="true")
                li.contacts__item
                    a.contacts__link(href="mailto:tehiko@inbox.ru") tehiko@inbox.ru
                        i.fa.fa-envelope.fa-fw(aria-hidden="true")
                li.contacts__item
                    a.contacts__link(href="tel:79991002448") +7 999 100 24 48
                        i.fa.fa-phone.fa-fw(aria-hidden="true")
                li.contacts__item
                    a.contacts__link Киров, Подгорная 2-38
                        i.fa.fa-map-marker.fa-fw

