section.section.works
    svg.triangal.triangal_fill_white
    svg.triangal.triangal_fill_white
    h1.title.works__title_pos Мои работы
    .works__left
        .works__left__content
            h2.works__title.subtitle Сайт школы онлайн образования
            .works__spec HTML, CSS, JAVASCRIPT
            .works__look-btn Посмотреть сайт
    .works__right
        include ../sections/_slider

