.welcome__user.user
    svg.user__title__bg
        use(xlink:href="./assets/img/sprite.svg#portfolio_header")
    .user__pic(style="background-image: url('assets/img/user.jpg');")
    .user__title.user__title_less Олег Братухин
    .user__description Личный сайт веб-разработчика

