.hamburger {
  height: 35px;
  width: 40px;
  float: right;
  margin: 26px 26px 0 0;
  transition: 0.3s;

  &:hover {
    opacity: .7;
  }
}

.menu__items {
  height: 4px;
  width: 35px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
}

.menu__line {
  &_b {
    position: absolute;
    height: 4px;
    width: 35px;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 10px;
  }

  &_c {
    position: absolute;
    height: 4px;
    width: 35px;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 10px;
  }
}