extends ../_template

block variables
  - var title = 'Обо мне'

block content
  section.section.hero
    include ../common/_header
    img(src="", alt="").about__bg-title
    include ../common/_user
    a(href="").down-arrow
  include ../sections/_about
  include ../sections/_map