extends ../_template

block variables
    - var title = 'Обо мне'

block content
    include ../sections/_hero
    include ../sections/_works
    include ../sections/_testimonials
    include ../common/_footer

